/* Ajusta la visibilidad y el diseño de los carruseles */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  margin-top: 193px;
  background-color: transparent;
}

/* Oculta los carruseles por defecto */
.carousel-wrapper {
  display: none; /* Oculta todos los carruseles por defecto */
  position: relative;
  max-width: 600px;
  margin: 50px auto;
}

/* Estilo del botón de cargar más */
.load-more-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #c92381;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.load-more-button:hover {
  background-color: #c92381;
}

/* General Styles */
.carousel-wrapper input {
  display: none;
}

/* Carousel Base Styles */
.carousel, .carousel-2, .carousel-3, .carousel-4 {
  overflow: hidden;
  border-radius: 15px;
  width: 100%;
  max-width: 624px;
  margin: auto;
}

.carousel ul, .carousel-2 ul, .carousel-3 ul, .carousel-4 ul {
  display: flex;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 500%;
  animation: slide 20s infinite;
}

.carousel li, .carousel-2 li, .carousel-3 li, .carousel-4 li {
  flex: 0 0 20%;
  box-sizing: border-box;
}

.carousel li img, .carousel-2 li img, .carousel-3 li img, .carousel-4 li img {
  border-radius: 15px;
  width: 100%;
  height: 508px;
  background: transparent;
  object-fit: cover;
}

/* Contenedor del texto */
.carousel-text {
  position: absolute;
  top: -47px;
  left: 5px;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-family: cursive;
  z-index: 10;
}

/* Animation */
@keyframes slide {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: 0%; }
}

/* Navigation Dots */
.nav-dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Navigation Dots Visibility */
.carousel-wrapper .nav-dots {
  display: flex; /* Ensure nav-dots are visible */
}

.nav-dot {
  background-color: #ccc;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-dot:hover {
  transform: scale(1.2);
}

input[name="slider-1"]:checked ~ .carousel-wrapper:nth-of-type(1) .nav-dots .nav-dot,
input[name="slider-2"]:checked ~ .carousel-wrapper:nth-of-type(2) .nav-dots .nav-dot,
input[name="slider-3"]:checked ~ .carousel-wrapper:nth-of-type(3) .nav-dots .nav-dot,
input[name="slider-4"]:checked ~ .carousel-wrapper:nth-of-type(4) .nav-dots .nav-dot,
input[name="slider-5"]:checked ~ .carousel-wrapper:nth-of-type(5) .nav-dots .nav-dot,
input[name="slider-6"]:checked ~ .carousel-wrapper:nth-of-type(6) .nav-dots .nav-dot,
input[name="slider-7"]:checked ~ .carousel-wrapper:nth-of-type(7) .nav-dots .nav-dot {
  background-color: #ffffff;
}

/* Estilos específicos para móviles */
@media (max-width: 768px) {

  #sakura {
    position: fixed;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    width: 1743px;
    height: 1245px;
  }

  span {
    font-family: cursive;
    margin-left: 7px;
  }

  /* Ajuste para que cada carrusel ocupe el 100% del ancho de la pantalla en móviles */
  .grid-container {
    display: block;
    background-color: black;
  }

  .carousel-wrapper {
    max-width: 100%;
    margin: 20px 0;
  }

  /* Ajusta el tamaño de las imágenes y los elementos del carrusel para pantallas móviles */
  .carousel ul, .carousel-2 ul, .carousel-3 ul, .carousel-4 ul {
    width: 100%;
    height: auto;
    left: 0;
    display: flex;
  }

  .carousel li, .carousel-2 li, .carousel-3 li, .carousel-4 li {
    flex: 0 0 100%;
    height: auto;
  }

  .carousel li img, .carousel-2 li img, .carousel-3 li img, .carousel-4 li img {
    width: 100%;
    height: auto;
  }

  /* Oculta los puntos de navegación en móviles */
  .nav-dots {
    display: none;
  }
}
