@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");

/* General Styles */
.line, .carousel li img, .carousel li, .carousel {
  width: 100%;
}

/* Flexbox Styles */
.flex, .carousel-wrapper, .center, .carousel ul {
  display: flex;
}

.center, .carousel ul {
  align-items: center;
  justify-content: center;
}

/* Carousel Wrapper */
.carousel-wrapper {
  position: relative;
  max-width: 600px;
  margin: 50px;
}
.carousel-wrapper input {
  display: none;
}

/* Carousel Base Styles */
.carousel, .carousel-2, .carousel-3, .carousel-4 {
  overflow: hidden;
  border-radius: 15px;
  width: 100%;
  max-width: 624px;
  margin-left: auto;
  margin-right: auto;
}

/* Carousel List Base Styles */
.carousel ul, .carousel-2 ul, .carousel-3 ul, .carousel-4 ul, .carousel-5 ul {
  display: flex;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 500%;
  animation: slide 15s infinite;
}

/* Carousel List Item Base Styles */
.carousel li, .carousel-2 li, .carousel-3 li, .carousel-4 li, .carousel-5 li {
  flex: 0 0 20%;
  box-sizing: border-box;
}

.carousel li img, .carousel-2 li img, .carousel-3 li img, .carousel-4 li img, .carousel-5 li img {
  border-radius: 15px;
  width: 100%;
  height: auto;
}

/* Contenedor del texto */
.carousel-text {
  position: absolute;
  top: 0px;
  left: 5px;
  background: rgba(0, 0, 0, 0.5);
  color: #c92381;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-family: cursive;
  z-index: 10;
}

.carousel-5 {
  overflow: hidden;
  border-radius: 15px;
  width: 100%;
  max-width: 624px;
  margin: 0 auto; /* Centrar el carrusel */
}

/* Animation */
@keyframes slide {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}

/* Navigation Dots */
.nav-dot, .nav-dot-2, .nav-dot-3 {
  position: absolute;
  cursor: pointer;
  margin-left: -7.5px;
  bottom: -22.5px;
  width: 15px;
  height: 15px;
  opacity: 0.5;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.nav-dot:hover, .nav-dot-2:hover, .nav-dot-3:hover {
  opacity: 0.8;
  transform: scale(1.2);
}

.nav-dot:active, .nav-dot-2:active, .nav-dot-3:active {
  transform: scale(0.9);
}

/* Navigation Dots for First Carousel */
.nav-dot[for=slide1] {
  left: 40%;
}

.nav-dot[for=slide2] {
  left: 45%;
}

.nav-dot[for=slide3] {
  left: 50%;
}

.nav-dot[for=slide4] {
  left: 55%;
}

.nav-dot[for=slide5] {
  left: 60%;
}

/* Navigation Dots for Second Carousel */
.nav-dot-2[for=slide6] {
  left: 40%;
}

.nav-dot-2[for=slide7] {
  left: 45%;
}

.nav-dot-2[for=slide8] {
  left: 50%;
}

.nav-dot-2[for=slide9] {
  left: 55%;
}

.nav-dot-2[for=slide10] {
  left: 60%;
}

/* Navigation Dots for Third Carousel */
.nav-dot-3[for=slide11] {
  left: 40%;
}

.nav-dot-3[for=slide12] {
  left: 45%;
}

.nav-dot-3[for=slide13] {
  left: 50%;
}

.nav-dot-3[for=slide14] {
  left: 55%;
}

.nav-dot-3[for=slide15] {
  left: 60%;
}


