@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #fff;
    overflow-x: hidden;
    background: #090709;
}


div#fonder {
    margin-left: 96px;
    MARGIN-TOP: -87px;
}




  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);
    }
  }


  img#simbi {
    width: 167px;
    margin-left: -1419px;
    margin-top: -216px;
}

div#menu {
    margin-left: 74px;
    margin-top: -15px;
}

div#recuerdos {
    margin-left: 56px;
    margin-top: -1px;
}
div#fanart {
    margin-left: 32px;
    margin-top: 9px;
}

/* Contenedor principal */
.container {
    width: 90%; /* Ancho máximo del contenedor */
    max-width: 1200px; /* Por ejemplo, ajusta según tus necesidades */
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 0 15px; /* Agregado de relleno a los lados */
    margin-left: 368px;
}

/* Barra de desplazamiento personalizada */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}


::-webkit-scrollbar-track {
    background: transparent; /* Color de fondo de la pista de la barra de desplazamiento */
}



::-webkit-scrollbar-thumb {
    background: #c92381; /* Color del pulgar de la barra de desplazamiento */
    border-radius: 5px; /* Bordes redondeados del pulgar */
}

::-webkit-scrollbar-thumb:hover {
    background: transparent; /* Color del pulgar de la barra de desplazamiento al pasar el mouse */
}

/* Títulos */
h1, h2, h3, h4, h5 {
    margin: 0;
    text-transform: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

h1 strong {
    font-weight: 800;
}

h2 {
    line-height: 1.5;
    font-family: cursive;
}

h3 {
    font-size: 18px;
    font-weight: 900;
}

h5 {
    font-weight: 700;
    line-height: 1.5;
}


.credit-box img {
    cursor: pointer;
  }
.navbar-nav li a:hover {
    color: pink; /* Cambia el color del texto a rosado */
  }

  


/* Estilos para la sección de créditos */
.credit-box-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Define columnas de tamaño flexible */
    grid-gap: 20px; /* Espacio entre los recuadros */
    justify-content: center; /* Centra los recuadros horizontalmente */
  }
  
  .credit-box {
    text-align: center;
  }
  
  .credit-box img {
    width: 100px;
    height: 100px;
    
  }



  p {
    margin: 19px 0 10px;
}
p.lead{
    font-size: 16px;
    margin: 12px 0 0;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
}
a{ color: #c92381;
    font-family: cursive;}
a:hover,
a:focus{
    text-decoration: none;
    color: #c92381;
}
ul, ol{
    padding: 0;
    webkit-padding: 0;
    moz-padding: 0;
}
.gap {
    margin-bottom: 50px;
}
.section-title.center {
    padding: 30px 0;
}
.section-title.center h2 {
    font-weight: 300;
}
.section-title.center .line {
    border-top: 4px solid #c92381;
    height: 10px;
    width: 80px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}
.section-title.center .line:hover {
    width: 15%;
}
#art-menu {
    padding: 20px;
    transition: all 0.8s;
}
#art-menu.navbar-default {
    background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);
}
#art-menu a.navbar-brand {
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    font-weight: 900;
    font-family: cursive;
}
span {
    font-family: cursive;
}

#art-menu a.navbar-brand:hover {
    color: #c92381;
}
#art-menu.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    color: #FFF;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: cursive;
}
.on {
    background-color: #26292E !important;
    padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #c92381 !important;
    background-color: transparent;
    font-weight: 700;
    font-family: cursive;
}

.navbar-toggle {
    border-radius: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #c92381;
    border-color: #c92381;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
    background-color: #FFF;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
@media (max-width: 603px){
    #art-menu.navbar-default {
        /* background-color: rgba(0, 0, 0, 0.79); */
    }

    #home .layer {
        height: 382px;
        background-attachment: fixed;
        background: rgba(7, 2, 4, 0.77);
    }
}
#home {
    background: url(https://raw.githubusercontent.com/Bersek3/Verlarosaconlau/main/img/lau.jpg);
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    /* margin-left: 5px; */
    /* background-repeat: no-repeat; */
    color: #cfcfcf;
}
.content{
    position:relative;
    padding: 20% 0 0;
}

#home .layer{

    background-attachment: fixed;
background: rgba(7, 2, 4, 0.77);
}

#home p.lead {
    font-size: 16px;
    margin: 12px 0 0;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
}
.white-bg {
  background: #ffffff;
  padding: 120px 0;
  display: block;
}
/* About Section
==============================*/
#about{
    padding: 80px 0;

}
.about
{
    padding-top: 1%;
    padding-bottom: 4%;
}
.progress
{
    height:30px;
}
#features {
    text-align: center;
    padding: 1%;
}
#features i {
    font-size: 48px;
}
#features h3 {
    margin-top: 15px;
    font-size: 18px;
    margin-bottom: 7px;
}
#features .slider-layer {
    opacity: 0.8;
}
#about p
{
     margin-top: 0;
    margin-bottom: 1.6em;
}
.joinjour {
    width:100%;
  margin-bottom:20px;

}
.joinjour a {
    background: #c92381;
    color: #FFFFFF;
    width:140px;
    margin:0 auto;
    height:40px;
}
.joinjour a:hover {
    -webkit-box-shadow: 0 0 8px #333;
    -moz-box-shadow: 0 0 8px #333;
    box-shadow: 0 0 8px #333;
    color: #FFFFFF;
  background: #26292E;
  border:none;

}

/* Contact Section
==============================*/
#contact {
    padding-top: 45px;
    padding-bottom: 0;
    padding: 90px 0;
    margin-top: -141px;

}
#contact ::selection {
    color:#7F8289;
    border: 1px solid #26292E;

}
#contact ::-moz-selection { /* For Firefox */
    color:#7F8289;
    border: 1px solid #26292E;

}
#contact #contact-form {
    max-width:650px;
    margin:70px auto;
    float:none;
}
#contact #contact-form input[type="text"], #contact #contact-form  textarea {
    color:#7F8289;
    font-size: 12px;
    padding: 15px 0;
    width: 100%;
    padding-left:10px;
    background:#26292E;
    margin-bottom:20px;
    border:0;
    border:1px solid #26292E;
    position:relative;
}
#contact #contact-form input[type="submit"] {
    float:none;
    margin:20px auto;
}
#contact .error_message {
    color:red;
}
#contact-form {
    text-align:center!important;
    max-width:600px;
    float:left;
}
#contact-form input[type="text"], #contact-form  textarea {
    color: #7F8289;
    font-size: 12px;
    padding: 15px 0;
    width: 100%;
    padding-left:10px;
    background:none;
    background:rgba(255,255,255,0.2);
    margin-bottom:20px;
    position:relative;
    border:1px solid #26292E
}
#contact-form input[type=text]:focus, #contact-form textarea:focus, input[type=email]:focus {
    color:#fff;
    outline:none;

}
#contact-form textarea {
    height:170px;
    resize:none;
}
.address
{
    display: block;
    color: #7F8289;
}
#contact-form input[type="submit"] , .controls button	{
    background:none;
    border:none;
    border-radius: 0;
    padding:14px 20px;
    line-height:14px;
    cursor:pointer;
    font-size:13px;
    color:#fff;
    -webkit-appearance: none;
    float:right;
    background:#26292E;
}
#contact-form input[type="submit"]:hover , .controls button {
    background:#c92381;
}
.error_message {
    text-align:center;
    margin-bottom:30px;
    font-size:15px;
    color:#fff;
}
#success_page h3{
    text-align:center;
    font-size:18px;
}
#success_page p {
    color:#fff;
    margin-top:20px;
    text-align:center;
}
#message fieldset {
    border:none;
    color:#fff;
}
#contact p, #contact #success_page p {
    color: white;
    text-align: center;
    font-family: cursive;
}
#contact #message fieldset {
    color:#fff;
}
/* Portfolio Section
==============================*/
#portfolio{
    padding: 80px 0;
}
.view
{
    border-radius: 0;
    padding: 12px 18px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    color: white;
    border: 1px solid white;
    background: transparent;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 0 !important;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    color:#fff;
}
.view:hover
{
    background:#c92381;
    color:#fff;
    border: 1px solid #c92381;
}
#recent-works {
    padding: 90px 0;
}
#recent-works .item-inner {
    position: relative;
    margin: 0;
}
.portfolio-items,
.portfolio-filter {
    list-style: none;
    padding: 0;
    margin: 0 -20px 20px 0;
    color:#fff;
}
.portfolio-filter > li {
    display: inline-block;
}
.portfolio-filter .btn-default {
    color: #fff;
    background-color:#26292E ;
    border-color: #26292E;
}
.portfolio-filter .active {
    color: #fff;
    background-color:#c92381 ;
    border-color: #c92381;
}

.portfolio-items > li {
    float: left;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.portfolio-items.col-2 > li {
    width: 50%;
}
.portfolio-items.col-3 > li {
    width: 33%;
}
.portfolio-items.col-4 > li {
    width: 25%;
}
.portfolio-items.col-5 > li {
    width: 20%;
}
.portfolio-items.col-6 > li {
    width: 16%;
}
.portfolio-item {
    padding: 0;
    margin: 0;
}
.portfolio-item .item-inner {
    background: #26292E;
    padding: 5px 5px 0;
    margin: 0 10px 10px 0;
    position: relative;
}
.portfolio-item img {
    width: 100%;
}
.portfolio-item h5 {
    background-color: #26292E ;
    margin: 0;
    padding: 10px 0;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.portfolio-item .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgb(88 57 69 / 34%);
    text-align: center;
    vertical-align: middle;
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
}
.portfolio-item .layer .preview {
    position: relative;
    top: 50%;
    display: inline-block;
    margin-top: -20px;
}
.portfolio-item:hover .layer {
    opacity: 1;
}
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border:none;
}
a.fa.fa-angle-down {
    padding: 10px 15px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 24px;
    margin-top: 143px;
    transition: all 0.5s;
    margin-left: -3pc;
}
a.fa.fa-angle-down:hover{
    color: #c92381;
    border: 2px solid #c92381;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

span {
    font-family: cursive;
    margin-left: -51px;
}
/* Footer Section
==============================*/

#footer {
    color:#fff;
    background:#26292E ;
}
.footer-top {
    /* position: relative; */
    background: #090709;
    padding: 30px 0;
    margin-top: 160px;
}
#footer .footer-bottom {
    /* background-color: #26292E; */
    padding: 20px 0 10px;
}

#footer .footer-bottom a:hover {
    text-decoration: underline;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 5px;
}

#footer .social-icons {
    margin-top: 15px;
}

#footer .social-icons ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
.footer-logo a{
    color:#FFFFFF;
    font-weight:700;
    font-size: 16px;
}
#footer .social-icons ul li a {
    background-color: rgba(0,0,0,.2);
    border-radius: 50%;
    line-height: 33px;
}

.social-icons ul li {
    float: left;
    margin-right: 8px;
}
.social-icons ul li a {
    color: #fff;
    background-color: #d9d9d9;
    height: 36px;
    width: 36px;
    line-height: 36px;
    display: block;
    font-size: 16px;
    opacity: 0.8;
}
.social-icons .icon-sm:hover  {
    border-radius: 10px;
    background-color: #c92381;
}
.icon-lg {
    font-size: 48px;
    height: 108px;
    width: 108px;
    line-height: 108px;
    color: #fff;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    display: inline-block !important;
    border-radius: 100%;
}
.icon-md {
    font-size: 36px;
    height: 68px;
    width: 68px;
    line-height: 68px;
    color: #fff;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    display: block;
    border-radius: 50%;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}
.icon-sm {
    font-size: 24px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    color: #fff;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    display: block;
    border-radius: 50%;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}
.slow {
    animation-duration: 2s; /* Ajusta el valor según lo que desees */
  }
#screamer {
    display: none; /* Oculta el screamer inicialmente */
    position: fixed;
    bottom: -100%; /* Mueve el screamer fuera de la pantalla */
    left: 0;
    width: 100%;
    z-index: 9999; /* Asegura que esté sobre otros elementos */
    animation: slide-up 1s forwards; /* Aplica la animación de deslizamiento */
  }
  span._2PK31 {
    position: absolute;
    width: 100%;
    height: 135px;
    background: linear-gradient(0deg, #1e1e1e, rgb(255 0 143 / 9%) 28.22%, rgba(12, 12, 12, .13) 81.93%, rgba(12, 12, 12, 0));
    /* bottom: 0; */
    margin-left: -956px;
}

img.rosa-derecha {
    margin-left: 1475px;
    width: 300px;
    margin-top: -613px;
    opacity: 0.5;
}
div#portfolio {
    margin-left: -32px;
}
img.rosa-izquierda {
    margin-left: -1420px;
    width: 275px;
    margin-top: -689px;
    transform: rotateY(180deg);
    opacity: 0.5;
}

div#fandelau {
    margin-left: -70px;
    margin-top: -84px;
}

div#daniel {
    margin-left: 508px;
    margin-top: -84px;
}

div#cris {
    margin-left: 208px;
    margin-top: -84px;
}

.navbar-scroll {
    transition: top 0.5s ease;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  
  .navbar-scroll.hidden {
    top: -100px; /* Altura del navbar */
  }
  
  @keyframes slide-up {
    from {
      bottom: -100%; /* Inicia fuera de la pantalla */
    }
    to {
      bottom: 0; /* Desliza hacia arriba */
    }
  }




@media (max-width: 496px) { /* Cambia este valor según tus necesidades específicas */

    /* Ajusta el diseño para mostrar las imágenes en columnas de dos en dispositivos móviles */

    .portfolio-items.col-2 > li {
        width: 50%; /* Configura el ancho de las imágenes para que ocupen el 50% del contenedor */
    }

    span {
        margin-left: -3px;
    }


    .credit-box-grid {
        display: ruby-text;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 20px;
    }
    .portfolio-items.col-2 {
        column-count: 2; /* Divide en dos columnas */
    }

    .portfolio-items.col-2 > li:nth-child(odd) {
        margin-right: 0; /* Elimina el margen derecho de los elementos impares */
    }
    img#simbi {
        width: 167px;
        margin-left: -556px;
        margin-top: -949px;
    }
    .pink-background {
        background-color: pink;
      }
    
}



@media (max-width: 495px) { /* Cambia este valor según tus necesidades específicas */

    /* Ajusta el diseño para mostrar las imágenes en columnas de dos en dispositivos móviles */

    .portfolio-items.col-2 > li {
        width: 50%; /* Configura el ancho de las imágenes para que ocupen el 50% del contenedor */
    }

    span {
        margin-left: -3px;
        font-size: 20px;
    }

    .container {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
        margin-left: 35px;
    }

    .credit-box-grid {
        display: ruby-text;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 20px;
    }
    .portfolio-items.col-2 {
        column-count: 2; /* Divide en dos columnas */
    }

    .portfolio-items.col-2 > li:nth-child(odd) {
        margin-right: 0; /* Elimina el margen derecho de los elementos impares */
    }
    img#simbi {
        width: 167px;
        margin-left: -575px;
        margin-top: -961px;
    }
    .pink-background {
        background-color: #400223;
      }
      .footer-top {
        /* position: relative; */
        background: #090709;
        padding: 30px 0;
        margin-top: 160px;
        margin-left: -296px;
    }
}
